html {
    font: 20px Verdana;
}

h1 {
    font: bold 24px Verdana;
    margin: 0;
}

form {
    width: 80%;
    margin: auto;
}

input {
    display: block;
    width: 100%;
    margin: 8px 0 0;
    font: 18px Verdana;
}

label {
    display: block;
    width: 100%;
    max-width: 100%;
    margin: 12px 0 0;
    font: 18px Verdana;
}

select {
    display: block;
    width: 100%;
    max-width: 100%;
    margin: 8px 0 0;
    font: 18px Verdana;
}

button {
    display: block;
    margin: 8px 0 0;
    padding: 6px;
    font: 18px Verdana;
}